<form class="form-inline">
  <small *ngIf="errMessage" class="text-danger mr-2">
    {{errMessage}}
  </small>

  <input class="form-control mr-sm-2"
         autofocus
         type="search"
         placeholder="Weather by zip / city">

  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
    <span class="fa fa-search"></span>
    <span class="text-hide position-absolute">Search</span>
  </button>

  <button class="btn btn-outline-info my-2 my-sm-0 ml-2">
    <span class="text-uppercase">Find Me</span>
  </button>
</form>
